__pycache__/
output/
output_1/
lorenz_ani.py
*.png
*.csv
*.log
best/
tanh_32/
newest/
weekend.py
read_json.py
compare_models.py
animated.py
jacobian_compare.py
neuron_contraction_contribution.py
pdf.py
rollout.py
theory.docx
animated_true.py
animated.py
compaer_initilaisation.py
compare_softplus.py
li_and_ravela.py
*.txt
specific_neurons.py
plots.py
read_log.py
animated*
dataset/
*.pt
experiment.py
lbfgs_vs_adam.py
mega_experiment/
coloured_traj.py
lorenz_map.py
mega_analysis.py
mega*
neuron_contributiion.py
sv3_vs_z_max.py
tanh_alysis.py
pltotss.py